<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.chzu.buildingmaterials.user.dao.UserMapper">
	<resultMap id="BaseResultMap" type="cn.chzu.buildingmaterials.user.model.User">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="classification" property="classification" jdbcType="VARCHAR"/>
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="VARCHAR"/>
		<result column="role_id" property="roleId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>

	</resultMap>

	<sql id="Base_Column_List">
		id, username, password ,classification, phone_number,
		sex, role_id, create_time, avatar
	</sql>

	<!-- 增加 -->
	<insert id="create" parameterType="cn.chzu.buildingmaterials.user.model.User">
		insert into user
			(id, username, password ,classification, phone_number,
		sex, role_id, create_time, avatar)
		values (
		#{id,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{classification,jdbcType=VARCHAR},
		#{phoneNumber,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR},
		#{roleId,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{avatar,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 根据用户名查询 -->
	<select id="findUserName" resultMap="BaseResultMap" parameterType="cn.chzu.buildingmaterials.user.model.User">
		select
		<include refid="Base_Column_List"/>
		from user
		where username = #{username,jdbcType=VARCHAR}
	</select>

	<!-- 后台用户登录 -->
	<select id="login" resultMap="BaseResultMap" parameterType="cn.chzu.buildingmaterials.user.model.User">
		select *
		from user
		<where>
			<if test="username != null">
				and username = #{username,jdbcType=VARCHAR}
			</if>
			<if test="password != null">
				and password = #{password,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有后台用户,并排序 -->
	<select id="findAllUser" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"/>
		from user
		order by username
	</select>

	<!--根据id修改-->
	<update id="updateById" parameterType="cn.chzu.buildingmaterials.user.model.User">
		update user
		<set>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="phoneNumber != null">
				phone_number = #{phoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>

